---
layout: default
id: homepage
---
<div id="top-left">
	<h1>Flip Flop Transport</h1>
	<h2>North Myrtle Beach</h2>
	<p class="action">Call now and we'll pick you up</p>
</div>
<div id="top-right">
	<p class="one">Serving Barefoot Landing,</p>
	<p class="two">Alabama Theater,</p>
	<p class="three">Ocean Boulevard,</p>
	<p class="four">and more!!</p>
</div>
{% include parallax.html %}

<div id="center">
<h2>About Us</h2>
<p>Our ride is a low speed electric vehicle modeled after a 1930s roadster owned and operated by Randy and Carol Briley. The car is battery powered and we recharge our batteries with the North Myrtle Beach sunshine! Not quite a taxi, but not a limousine; not a shuttle, nor a tour bus; we've created our own category to get you around town in style.<img src="{{site.url}}/images/randy-and-carol.jpeg" width="200" height="150" / ></p>
<span class="italic">we also offer </span><h2>Private Tours</h2>
<p>From your pick-up point in Windy Hill down Ocean Boulevard to the intracoastal waterway and Barefoot Landing, you'll get an overview and history of the area while you enjoy a ride in a stylish, fun, and <span class="green">Green</span> car.</p>

	<p>All tours are $40.00 for up to four people in your party</p>

	<p>Tour times are 9, 10, and 11 a.m. - Call to book now!</p>
	<p>For weddings, special events, or <span>any</span> occasion let us take you to:</p>
	<ul>
		<li>Barefoot Landing</li>
		<li>Alabama Theater</li>
		<li>Miniature golf</li>
		<li>the beach along Ocean Boulevard</li>
		<li>the intracoastal waterway</li>
		<li>Lunch or dinner at one of the 50+ nearby places to eat, from burgers to fine dining</li>
	</ul>
	<div class="image-window">
		{% include wedding-pics.html %}
	</div>	
</div>