$pink: #d20e6b;
$grey-dark: #231f20;
$green-light: #02a64f;
$green-dark: #0a7a40;
$action-color: pink;

$content-margin: 15px;

$xs-screen: 320px;
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;