@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "fonts";

.site-header {
	> div {
		@include span-columns(12);
		text-align: center;
		margin-bottom: $content-margin;
		> #logo {
			display: block;
			margin-right: auto;
			margin-left: auto;
		}
		> p {
			color: $green-dark;
		}		
		@include media(min-width $medium-screen){
			@include span-columns(6);
			&#top-left{
				@include omega;
			}			
			&#top-right{
				margin-top: 50px;
			}
		}
	}
}
.page-content {
	@include outer-container (95%);
	@include media(min-width $small-screen){
		@include outer-container (95%);
	}
	@include media(min-width $medium-screen){
		@include outer-container (768px);
	}
	@include media(min-width $large-screen){
		@include outer-container (1024px);
	}
	> #featured > img {
		width: $xs-screen;
		height: $featured-img-height-xs;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $content-margin;
		display: block;
		max-width: 100%;
		@include media(min-width $small-screen){
			width: $small-screen;
			height: $featured-img-height-sm;
		}
		@include media(min-width $medium-screen){
			width: $medium-screen;
			height: $featured-img-height-md;
		}
		@include media(min-width $large-screen){
			width: $large-screen;
			height: $featured-img-height-lg;
		}						
	}
	> #below-the-fold {
		@include span-columns(12);
		@include media(min-width $medium-screen){
			margin: 0;
			@include span-columns(8);
			@include shift(2);
		}
		> .center {
			text-align: center;
		}
		> ul {
			list-style: none;
			padding-left: $content-margin;
			padding-right: $content-margin;			
			> li {
				&:before {
					content: "\0025CA";
					padding-right: 8px;
					color: $green-light;
				}
				&:after {
					content: "\0025CA";
					padding-left: 8px;
					color: $green-light;
				}				
				margin-bottom: $content-margin/4;
				text-align: center;
				> p {
					display: inline;
				}
			}
		}
		> .image-window {
			overflow: hidden;
			margin-bottom: $content-margin;
			margin-top: $content-margin;
			height: 224px;
			max-height: 224px;
			@include media(min-width $small-screen){
				height: 337px;
				max-height: 337px;
			}
			> img {
				display: none;
				max-width: 100%;
				height: auto;
				width: 320px;
				@include media(min-width $small-screen){
					width: $small-screen;
				}
				&.active {
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
		> #tours {
			margin: $content-margin 0;
		}
		> #phone {
			padding: $content-margin*2;
		}
	}
}