@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "parallax";
@import "fonts";

.site-header {
	> #logo {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}
.page-content {
	@include outer-container (95%);
	@include media(min-width $small-screen){
		@include outer-container (95%);
	}
	@include media(min-width $medium-screen){
		@include outer-container (768px);
	}
	@include media(min-width $large-screen){
		@include outer-container (1024px);
	}	
	
	> .top {
		@include span-columns(12);
		text-align: center;		
		margin-top: $content-margin;
		margin-bottom: $content-margin;		
		p {
			//margin-bottom: 0;
		}
		&#top-right {
			text-align: center;
			> p {
				//font-size: 0.9em;
				@include span-columns(12);
			}
			> #one {
				text-align: left;
			}
			> #two {
				@include span-columns(8 of 12);
				@include shift(2);
			}
			> #three {
				@include span-columns(7 of 12);
				@include shift(5);
			}
			> #four {
				text-align: right;
			}									
		}
	}
	> #below-the-fold {
		@include span-columns(12);
		@include media(min-width $medium-screen){
			margin: 0;
			@include span-columns(6);
			@include shift(3);
		}
		> .center {
			text-align: center;
		}
		> ul {
			list-style: none;
			padding-left: $content-margin;
			padding-right: $content-margin;			
			> li {
				&:before {
					content: "\0025CA";
					padding-right: 8px;
					color: $green-light;
				}
				&:after {
					content: "\0025CA";
					padding-left: 8px;
					color: $green-light;
				}				
				margin-bottom: $content-margin/4;
				text-align: center;
			}
		}
		> .image-window {
			max-height: 500px;
			overflow: hidden;
			> img {
				display: none;
				max-width: 100%;
				height: auto;
				&.active {
					display: inline;
				}
			}
		}		
	}
}